apiVersion: apps/v1
kind: Deployment
metadata:
  name: patient-service
  namespace: ${NAMESPACE}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: patient-service
  template:
    metadata:
      labels:
        app: patient-service
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: patient-service
          image: ${IMAGE_TAG_PATIENT}
          ports:
            - containerPort: 8050
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1"
