spring:
  application:
    name: patient-service
  datasource:
    url: jdbc:postgresql://localhost:5433/patient_db
    username: patient_user
    password: patient_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8050

---
# Production profile - connects to K8s PostgreSQL service
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:postgresql://patient-db:5432/patient_db
    username: patient_user
    password: patient_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
